<form action="/file_query" method="post" accept-charset="utf-8"   enctype="application/x-www-form-urlencoded">
    <div id="FILES">
{% for files in Zip_Files %}
    <input type="radio" id={{loop.index}} name={{loop.index}} value={{files}}>
    <label for={{loop.index}}>{{files}}</label><br/>
{% endfor %}

</div>
    <button  onclick="myfunction()" type="submit">Submit</button>

</form>

<a class="label label-primary" href="{{ static ( Zip_Files[0] ) }}" target="_blank"  style="margin-right: 5px;">Download pdf </a>

<script>
function myfunction(){
    for (let i=1 ; i <= {{Zip_Files|length}}; i++)
    {
        if (document.getElementById(i.toString()).checked == true)
        {
            var link = document.createElement("a");
            var name = document.getElementById(i.toString()).value;
            link.setAttribute('download',  name);
            var static_path = "/Zip_Extracted/".concat(name);
            document.body.appendChild(link);
            link.click();
            link.remove();
        }
    }
}
</script>